<div class="ecart--product--container">
  <!-- <img [src]="product.pimage" />
  <p>Name:{{ product.name }}</p>
  <p>Price:{{ "$" + product.price }}</p>
  <p>Color:{{ product.color }}</p>
  <p>Disconted price:{{ getDiscountItems() }}</p>
  <p>
    {{
      product.inStock > 0
        ? "only " + product.inStock + " items in stock"
        : "No iteam in stock"
    }}
  </p>
  <button (click)="decrementCartValue()">-</button>
  <span>{{ addToCart }}</span>
  <button (click)="incrementCartValue()">+</button>
  <button [disabled]="!(product.inStock > 0)">Buy Now</button>
  <input
    type="text"
    [value]="name"
    [attr.aria-hidden]=""
    (input)="onNameChange($event)"
  /><br />
  <p>Name:{{ name }}</p> -->
  <app-search (searchTextChanged)="setSearchText($event)"></app-search>
  <!-- ng for structural directive example
    <div *ngFor="let item of listOfString">
    <p>Current elelment of array is:{{ item }}</p>
  </div> -->
  <product-list [searchText]="searchText" #productListComponent></product-list>
  <product-detail
    *ngIf="productListComponent.selectedProduct"
    [productListComp]="productListComponent"
  ></product-detail>
  <div class="ekart-featured-products">
    <div class="ekart-featured-product-heading">
      <h1>Latest Arrival in Pupolar Brands</h1>
    </div>
    <featured-brands>
      <h3 class="title">New Arrivals in Nike</h3>
      <button class="call-to-action">Learn More</button>
    </featured-brands>
    <featured-brands>
      <h3 class="title">New Arrivals in Adidas</h3>
      <button class="call-to-action">Learn More</button>
    </featured-brands>
    <featured-brands>
      <h3 class="title">New Arrivals in Reebok</h3>
      <button class="call-to-action">Learn More</button>
    </featured-brands>
  </div>
</div>
