<div class="ekart--search--product">
  <!-- [(ngModel)]="searchText"
  (input)="onSearchTextChanged()" -->
  <input class="ekart-search-product-input" #searchInput />
  <!-- [ngClass]="{
    btn: true,
    'btn-search': searchText,
    'btn-search-disabled': !searchText
  }"
  [disabled]="!searchText" -->
  <button class="btn btn-search" (click)="updateSearchText(searchInput)">
    Search
  </button>
</div>
<div class="ekart-search-result-for">
  <p *ngIf="searchText != ''">
    <strong>Search result for:</strong> {{ searchText }}
  </p>
</div>
<!-- flase -null ,0 ,undefined,'' -->
