.ekart--search--product{
  margin: 20px auto;
  text-align: center;
}
.ekart-search-product-input{
  width: 40%;
  height: 5.5vh;
  padding: 1px 10px;
  outline: none;
  border-radius: 2px;
  background-color: #efefef;
  border:#28282B 1px solid;
}


.btn{
  padding: 3px 5px;
  border: none;
}
.btn-search{
  padding: 8px 10px;
  background-color: #28282B;
  margin-left: -1px;
  color:#fff;
}
.btn-search-disabled{
  padding: 8px 10px;
  background-color: #aaa;
  margin-left:  -1px;
  color:#999;
  border:#aaa 1px solid ;
  cursor:not-allowed,no-drop;
}

.ekart-search-result-for{
  margin: 20px auto;
  padding: 10px 140px;
}